/* 
 * PhD Hub's CSS Code
 *
 * ===== CONTENTS =====
 * 1. General CSS Code
 * 2. Header
 * 3. Main Menu
 * 4. Showcase
 * 5. Top
 * 6. Main Top
 * 7. Main Bottom
 * 8. Site Footer
 * 9. Sidebar
 * 10. Error 404 - Page Not Found
 * 11. 3rd party plugins
 * 12. Registration Page
 * 13. Responsive Design
 */


/* ===== 1. General CSS Code ===== */
body {
	background: #f9f9f9;
	font-family: 'Encode Sans Semi Expanded', sans-serif;
	overflow-x: hidden;
}
.latest-offers-three-col-grid .uk-grid-width-1-3 {
	margin: 0 0 0 35px !important;
}
.single .theChampFacebookBackground {
    background: #3C589A !important;
    width: 35px !important;
}
.page h3 {
	font-size: 26px;
}
.page h5 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 0;
}
.page h6 {
	font-size: 38px;
	color: #c96b3a;
	font-weight: bold;
	margin: 0;
}
.orange {
	color: #c96b3a;
}
ul.partners-menu {
    list-style: none;
    margin: -25px -25px 45px;
    padding: 15px;
    background: #1f7cb9;
    text-align: center;
}
ul.partners-menu li {
    display: inline-block;
    margin: 0 15px;
    font-size: 14px;
}
ul.partners-menu li a {
    color: #fff;
    text-decoration: none;
}
h3.uk-accordion-title {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    background: #f5f5f5;
    border-radius: 2px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
.uk-accordion-content {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.uk-accordion-content .uk-grid {
    margin: 0;
}
.uk-accordion-content .uk-grid > * {
    padding: 0 0 20px;
    width: 100%;
}
.uk-accordion-content img {
    height: 80px;
    width: auto;
}
.uk-accordion-content .uk-width-1-4 {
    text-align: center;
}
#project-coordinator,
#thessaloniki-hub,
#alcala-hub,
#birmingham-hub,
#lodz-hub,
#other-partners {
    font-weight: 400;
}
#partners-title {
    font-weight: 400;
}
#other-partners-section {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.page-item-section {
    max-width: 75%;
    margin: 0 auto;
}
.page-item-section .uk-grid a {
    border: 1px solid #318fe8;
    border-radius: 50px;
    color: #318fe8;
    display: inline-block;
    font-size: 14px;
    padding: 10px 25px;
    margin: 20px 0 0;
    transition: all .4s ease;
}
.page-item-section .uk-grid a:hover {
    background: #318fe8;
    color: #fff;
    transition: all .4s ease;
}
.page-item-section .uk-grid:nth-child(6) img {
    margin: 95px 0 0;
}
.page-item-section .uk-width-1-2 img {
    float: left;
    margin: 0 0 20px;
}
.page-item-section .uk-width-1-2 span {
    display: inline-block;
    margin: 12px 0 0;
}
.page a {
    font-weight: normal;
    text-decoration: none;
}
article.page .entry-content,
.search-results .page-content {
    width: 1180px;
    margin: 100px auto;
}
article.page .entry-content {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 3px #eee;
	padding: 25px;
}
.page-id-538 article.page .entry-content {
    background: transparent;
    box-shadow: none;
    padding: 0;
}
article.page .edit-link {
	display: none;
}
article.page .entry-content p {
	font-size: 14.5px;
	line-height: 25px;
}
article.page .entry-header,
.search-results .page-header {
    background: #4085c7;
    background: rgb(38,119,191);
    background: -moz-linear-gradient(left, rgba(38,119,191,1) 0%, rgba(39,144,163,1) 100%);
    background: -webkit-linear-gradient(left, rgba(38,119,191,1) 0%,rgba(39,144,163,1) 100%);
    background: linear-gradient(to right, rgba(38,119,191,1) 0%,rgba(39,144,163,1) 100%);
}
article.page .entry-header .container,
.search-results .page-header .container {
    margin: 0 auto !important;
    padding: 30px 0;
    max-width:  1180px;
}
article.page .entry-title,
.search-results .page-title {
	color:  #fff;
	font-size: 26px;
	font-weight: 300;
	margin: 0;
	padding: 21.5px 10px;
}
.category .page-header {    
	background: #4085c7;
    background: rgb(38,119,191);
    background: -moz-linear-gradient(left, rgba(38,119,191,1) 0%, rgba(39,144,163,1) 100%);
    background: -webkit-linear-gradient(left, rgba(38,119,191,1) 0%,rgba(39,144,163,1) 100%);
    background: linear-gradient(to right, rgba(38,119,191,1) 0%,rgba(39,144,163,1) 100%);
}
.category .page-header .container {
    margin: 0 auto !important;
    padding: 30px 0;
    max-width:  1180px;
}
.category .page-header .page-title {
	color:  #fff;
	font-size: 26px;
	font-weight: 300;
	padding: 4px 10px;
}
.category-container {
    margin: 100px auto 80px;
    max-width:  1180px;
}
.category-container .post-item article {
	background: #fff;
	border-radius: 2px;
	box-shadow:  0 2px 3px #eee;
	transition: all .4s ease;
	margin: 0 0 35px;
	position: relative;
}
.category-container .post-item img {
	border-radius: 2px 2px 0 0;
	width: 100%;
	height: 200px;
	object-fit: cover;
	opacity: 0.85;
	transition: all .4s ease;
}
.category-container .post-item article:hover {
    box-shadow: 0 3px 4px #eee;
    transition: all .4s ease;
}
.category-container .post-item article:hover img {
	opacity: 1;
	transition: all .4s ease;
}
.category-container .post-item .entry-title {
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px 0;
    margin: 0 0 10px;
}
.category-container .post-item .entry-title a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
.category-container .post-item .entry-title a:hover {
    color: #323232;
    transition: all .4s ease;
}
.category-container .post-item .entry-content {
	margin: 0 0 20px;
	padding: 0 15px;
	font-size: 12.5px;
	font-weight: 400;
}
.category-container .post-item .entry-content p {
	margin: 0;
}
.category-container .post-item .entry-footer {
	color: #888;
	padding: 0 15px 15px;
	font-size: 11px;
	text-transform: uppercase;
}
.category-container .post-item .entry-footer span {
	margin: 0 20px 0 0;
}
.category-container .post-item .entry-footer span span {
	color: #318fe8;
	margin: 0 5px 0 0;
}
.category-container .post-item .category {
	position: absolute;
	top: 20px;
	left: 20px;
	background: rgba(0, 0, 0, 0.35);
	padding: 6px 12px;
	border-radius: 50px;
}
.category-container .post-item .category i {
	color: #fff;
}
.category-container .post-item .category a {
	color: rgba(255, 255, 255, 0.8);
	text-decoration: none;
	transition: all .4s ease;
}
.category-container .post-item .category a:hover {
	color: #fff;
	transition: all .4s ease;
}
.category-container .post-item .comments {
	float: right;
	margin: 0 !important;
}
.single-container {
    margin: 50px auto;
    max-width: 1180px;
}
.single-container .uk-grid {
	margin: 0;
}
.single-container .uk-width-7-10 {
	padding: 0 35px 0 0;
}
.single-container article.post .entry-title {
    font-size: 30px;
    font-weight:  300;
    margin: 30px 0 10px;
}
.single-container article.post .entry-meta {
    margin: 0 0 25px;
    font-size: 14px;
    font-weight: 300;
    color: #888;
}
.single-container article.post .post-thumbnail img {
    box-shadow: 0 2px 3px #eee;
    height: 450px;
    object-fit: cover;
    width: 100%;
}
.single-container article.post .entry-content {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	margin: -5px 0 20px;
	font-size: 15px;
	padding: 0 20px;
}
.single-container article.post .entry-footer {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
    font-size: 14px;
    margin: 0 0 50px;
    padding: 10px 20px;
}
.single-container article.post a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
.single-container article.post a:hover {
    color: #323232;
    transition: all .4s ease;
}
.single-container article.post .edit-link {
    float: right;
}
.post-navigation {
    display: none;
}
.subsites-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.subsites-list li {
    margin: 0 0 15px;
}
.subsites-list li:last-child {
    margin: 0;
}
.subsites-list li a {
    color: #318fe8;
    font-size: 15px;
}

#comments {
	background: #fff;
	box-shadow: 0 2px 3px #eee;
	padding: 20px;
}
#comments .comments-title {
    font-size:  22px;
    font-weight: 300;
    margin: 0 0 30px;
}
#comments .comment-list {
    margin: 0;
    list-style: none;
    padding: 0;
}
#comments .avatar {
	margin: 0 8px 0 0;
    vertical-align: middle;
}
#comments a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
#comments a:hover {
    color: #323232;
    transition: all .4s ease;
}
#comments .comment-list .comment-body {
	border-bottom: 1px solid #f0f0f0;
	padding-bottom: 20px;
}
#comments .children .comment:last-child .comment-body {
	border: 0;
	padding: 0;
}
#comments .comment-list .comment-body .fn {
    font-size: 15px;
    font-weight: 400;
}
#comments .comment-list .comment-metadata {
    float: right;
    font-size: 13px;
    margin: -30px 0 0;
}
#comments .comment-list .edit-link {
    margin: 0 0 0 15px;
}
#comments .comment-list .edit-link a {
    color: #888;
}
#comments .comment-list .comment-content p {
    font-size: 14px;
    line-height: 24px;
}
#comments .comment-list .reply {
    font-size: 13px;
}
#comments .comment-list .reply a {
    background: #318fe8;
    border-radius: 2px;
    color: #fff;
    display: inline-block;
    padding: 8px 15px;
    transition: all .4s ease;
}
#comments .comment-list .reply a:hover {
    background: #484848;
    transition: all .4s ease;
}
#comments .children {
    margin: 30px 0;
}
#respond {
    background: #f9f9f9;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    margin: 60px 0 0;
    padding: 20px;
}
#respond h3 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
}
#respond .logged-in-as {
    margin: 5px 0 30px;
    font-size: 14px;
}
#respond label {
    font-size: 15px;
}
#respond textarea {
    border: 1px solid #f0f0f0;
    font-size: 15px;
    outline: none;
    margin:  10px 0 0;
    padding: 10px;
}
#respond .form-submit {
    margin: 20px 0 0;
}
#respond .form-submit #submit {
    background: #318fe8;
    border: 0;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    height: auto;
    line-height: inherit;
    padding: 10px 20px;
    transition: all .4s ease;
}
#respond .form-submit #submit:hover {
    background: #484848;
    cursor: pointer;
    transition: all .4s ease;
}
.search-results .container {
    margin: 100px auto;
    max-width: 1180px;
}
.search-results-title {
    color: #fff;
    font-size: 22px;
    font-weight: 300;
}
.search-results-title span {
    color: rgba(255, 255, 255, 0.85);
    display: block;
    font-size: 13px;
}
.search-results .page-content .page-content-grid {
	margin: 0;
}
.search-results .page-content .uk-width-7-10 {
	padding: 0 35px 0 0;
}
.search-results .search-form {
	float: right;
	margin: -65px 0 0;
	position: relative;
}
.page-header .search-form input[type="search"] {
	background: rgba(47, 63, 80, 0.82);
	border: 0;
	border-radius: 50px;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	outline: none;
	padding: 11px 100px 8px 20px;
}
.page-header .search-form input[type="search"]::placeholder {
	color: #fff;
}
.page-header .search-form input[type="submit"] {
	background: rgba(0, 0, 0, 0.15);
	border: 0;
	border-radius: 0 50px 50px 0;
	color: #fff;
	font-size: 15px;
	font-weight: 300;
	height: auto;
	line-height: normal;
	padding: 13px 20px;
	position: absolute;
	right: -1px;
	top: 0;
	transition: all .4s ease;
}
.page-header .search-form input[type="submit"]:hover {
	cursor: pointer;
	transition: all .4s ease;
}
.search-results-items article {
    background:  #fff;
    border-radius: 2px;
    box-shadow: 0 2px 3px #eee;
    transition: all .4s ease;
}
.search-results-items article:hover {
    box-shadow: 0 3px 4px #eee;
    transition: all .4s ease;
}
.search-results-items article .entry-title {
    font-size: 15px;
    font-weight: 400;
    margin: 0;
    padding: 10px 15px 15px;
}
.search-results-items article .entry-title a {
    color: #318fe8;
    text-decoration: none;
    transition: all .4s ease;
}
.search-results-items article .entry-title a:hover {
    color: #323232;
    transition: all .4s ease;
}
.search-results-items article img {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 180px;
    object-fit: cover;
    opacity: 0.9;
    transition: all .4s ease;
}
.search-results-items article .entry-meta {
	color: #888;
    font-size:  12px;
    font-weight: 400;
    margin: 0;
    padding: 0 15px;
}
.search-results-items article .entry-meta a {
	color: #318fe8;
	text-decoration: none;
}
.search-results-items article .entry-meta .byline {
	display: none;
}
.search-results-items article .entry-summary {
	font-size: 13px;
	margin: 0;
	padding: 0 15px 5px;
}
.search-results-items article .entry-footer {
	border-top: 1px solid #f0f0f0;
	color: #888;
	font-size: 12px;
	font-weight: 400;
	margin: 0 15px;
	padding: 10px 0;
}
.search-results-items article .entry-footer span {
	display: block;
	margin: 0 0 5px;
}
.search-results-items article .entry-footer span:nth-child(2) {
	margin: 0;
}
.search-results-items article .entry-footer a {
	color: #318fe8;
	text-decoration: none;
}
.search-results-items article .edit-link {
    display: none !important;
}


/* ===== 2. Header ===== */
.local-hubs-menu{
    position: relative;
    display: inline-block;
    background: #435d7c;
    padding: 12px 20px;
    font-size: 14px;
    margin: -12px 20px -16px 0;
    color: #fff;
}
.local-hubs-menu .uk-dropdown {
    background: #fff;
    border: 1px solid #f0f0f0;
    margin: -1px 0 0 0;
    padding: 0;
    min-width: 295px;
    max-height: 250px;
    overflow-y: scroll;
}
.local-hubs-menu .uk-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.local-hubs-menu .uk-dropdown ul li {
    border-bottom: 1px solid #f0f0f0;
    margin: 0;
    padding: 10px 15px;
}
.local-hubs-menu .uk-dropdown ul li:last-child {
    border: 0;
}
.local-hubs-menu .uk-dropdown ul li a {
    color: #323232;
    display: block;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
    transition: all .4s ease;
}
.local-hubs-menu .uk-dropdown ul li a:hover {
    color: #318fe8;
    transition: all .4s ease;
}
.site-header {
	background: #fff;
	border-bottom: 1px solid #f0f0f0;
}
.site-header .widget {
	margin: 0;
}
.site-header .uk-grid {
	padding: 0;
}
.site-header #top-header {
    background: #3e4859;
    padding: 0;
	border-bottom: 1px solid #f5f5f5;
}
.site-header #top-header .uk-grid {
	padding: 10px 0;
}
.site-header #top-header .uk-width-1-2:last-child {
    text-align: right;
}
.site-header #top-header .uk-width-1-2:last-child select {
    background: transparent;
    border: 0;
    color: #fff;
    font-size: 14px;
    outline: none;
    padding: 5px 0;
}
.site-header #top-header .uk-width-1-2:last-child select option {
    color: #323232;
}
.site-header .uk-grid {
	margin: 0 auto;
	max-width: 1180px;
}
.site-header .uk-grid > * {
	padding: 0;
}
.site-header .site-branding h1 {
	font-size: 44px;
	font-weight: 400;
	margin: 0;
	padding: 15px 0 0;
}
.site-header .site-branding h1 a {
	color: #525252;
	text-decoration: none;
	transition: all .4s ease;
}
.site-header .site-branding h1 a:hover {
	color: #282828;
	transition: all .4s ease;
}
.site-header .header-main-menu {
	text-align: right;
}
.site-header .site-branding img {
	height: 80px;
	object-fit: contain;
	width: 200px;
}
.language-switcher-link {
    color: rgba(255, 255, 255, 0.8);
    font-size:  13.5px;
    text-decoration:  none;
    transition: all .4s ease;
}
.language-switcher-link span {
    margin: 0 10px 0 0;
}
.language-switcher-link:hover {
    color: #fff;
    transition: all .4s ease;
}
#languages-list {
    text-align: left;
}
#languages-list .uk-modal-dialog {
    background: rgba(236, 236, 236, 0.98);
    border-radius: 2px;
    margin-top: 18%;
}
#languages-list .modal-title {
    border-bottom: 1px solid #ddd;
    color: #323232;
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 30px;
    padding: 0 0 10px;
}
#languages-list .modal-title .uk-close {
    float: right;
    margin: 6px 0 0;
}
#languages-list ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
#languages-list ul li {
    display: inline-block;
    width: 32.8%;
    margin: 0 0 20px;
    text-align:  center;
}
#languages-list ul li img {
    width: 38px;
    height: 38px;
    object-fit: contain;
    vertical-align: middle;
    margin: 0 15px 0 0;
}
#languages-list ul li a {
    color: #555 !important;
    font-size: 15px;
    text-decoration: none;
    transition: all .4s ease;
}
#languages-list ul li a:hover {
    color: #318fe8 !important;
    transition: all .4s ease;
}
#languages-list ul li.current-lang a {
    color: #318fe8 !important;
}


/* ===== 3. Main Menu ===== */
.site-header .main-navigation li {
	display: inline-block;
	float: none;
	margin: 0 30px 0 0;
	position: relative;
}
.site-header .main-navigation li:last-child {
	margin: 0;
}
.site-header .main-navigation a {
	color: #323232;
	font-size: 15px;
	padding: 44px 0;
	transition: all .4s ease;
}
.site-header .main-navigation a:hover {
	color: #1d72b6;
	transition: all .4s ease;
}
.site-header .main-navigation .current-menu-item a {
	color: #1d72b6;
}


.admin-bar .sticky-header.uk-active {
    margin: 32px 0 0;
}
.sticky-header .container {
	margin: 0 auto;
	max-width: 1180px;
}
.sticky-header .uk-width-2-10 {
	text-align: right;
	margin-left: 42px;
    padding-left: 0;
}
.sticky-header,
.sticky-header.hidden-sticky {
    visibility: hidden;
    height: 0;
}
.sticky-header.hidden-sticky a {
	color: transparent;
	border: 0;
}
.sticky-header.uk-active {
    background: #fff;
    border-bottom: 1px solid #eee;
    visibility: visible;
    height: auto;
    z-index: 10000 !important;
}
.sticky-header .site-branding {
    display: inline-block;
    padding: 0;
}
.sticky-header .site-branding h1 {
    margin: 0;
}
.sticky-header .site-branding a {
    display: block;
}
.sticky-header .site-branding img {
    height: 40px;
    margin: 10px 20px -5px 0;
    width: auto;
}
.uk-sticky-placeholder {
    height: auto !important;
    margin: 0;
}
.sticky-header .local-hubs-menu {
    padding: 19px 20px;
    margin: 0 0 -10px;
    display: inline-block;
    top: -10px;
}
.sticky-header .local-hubs-menu {
	padding-right: 0;
}
.sticky-header .language-switcher-link {
    border-left: 1px solid #eee;
    color: #323232;
    margin: 0 0 0 20px;
    display: inline-block;
    top: -10px;
    position: relative;
    padding: 0 0 0 24px !important;
}
.sticky-header .user-area {
    padding: 17px 20px 18px;
    margin: 0;
}
.sticky-header .user-area .uk-dropdown {
    margin: 0;
}
.sticky-header .sticky-menu {
    background: #f7f7f7;
    border-right: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    padding: 17px 20px 18px;
    display: inline-block;
}
.sticky-header .uk-width-1-10 {
    margin: 0 -42px 0 0;
}
.sticky-header .local-hubs-menu {
    background: #fff;
    color: #323232;
}

.sticky-menu .uk-dropdown {
    background: #fff;
    border: 1px solid #f9f9f9;
    border-radius: 0 0 2px 2px;
    margin-top: -1px;
    margin-left: -21px;
    left: auto !important;
}
.sticky-menu .uk-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sticky-menu .uk-dropdown ul li {
    font-size: 14px;
    margin: 0 0 12px;
}
.sticky-menu .uk-dropdown ul li:last-child {
    margin: 0;
}
.sticky-menu .uk-dropdown ul li a {
    color: #555;
    text-decoration: none;
    transition: all .4s ease;
}
.sticky-menu .uk-dropdown ul li a:hover {
    color: #318fe8;
    transition: all .4s ease;
}
.sticky-menu:hover {
	cursor: pointer;
}


/* ===== 4. Showcase ===== */
#showcase {
    background: #fff url(https://phdhub.eu/wp-content/uploads/2019/10/showcase-background.jpg) center no-repeat;
    background-size: cover;
}
#showcase .container {
    background: rgba(255, 255, 255, 0.7);
    padding: 150px 0 350px;
    margin: 0 0 -150px;
}
#showcase .widget {
	max-width: 1180px;
	margin: 0 auto;
}
#showcase .widget-title,
#showcase .textwidget p {
	text-align: center;
}
#showcase .search-form {
	margin: 80px 0 0;
	position: relative;
}
#showcase .search-form .search-field::placeholder {
    color: rgba(18, 18, 18, 0.95);
    font-size: 15px;
}
#showcase .search-form .search-field {
    background: rgba(255, 255, 255, 0.85);
    border: 1px solid #f0f0f0;
    border-radius: 50px 0 0 50px;
    box-shadow: none;
    color: #000;
    padding: 8px 15px 8px 20px;
    outline: none;
    width: 26%;
}
#showcase .search-form .search-submit {
    background: rgba(33, 137, 218, 0.8);
    border: 0;
    border-radius: 0 50px 50px 0;
    box-shadow: none;
    color: #fff;
    font-size: 14px;
    padding: 14px 30px 14px 24px;
    position: absolute;
    top: 0;
    transition: all .4s ease;
}
#showcase .search-form .search-submit:hover {
    background: rgb(23, 99, 158);
    cursor: pointer;
    transition: all .4s ease;
}
#showcase .widget-title {
    color: #323232;
    font-size: 34px;
    font-weight:  300;
    margin: 30px 0 18px;
}
#showcase p {
    color: rgba(0, 0, 0, 0.6);
    margin: 10px 0;
    line-height: 26px;
}
#showcase a {
	color: #318fe8;
	text-decoration: none;
	transition: all .4s ease;
}
#showcase a:hover {
	color: #222;
	transition: all .4s ease;
}



/* ===== 5. Top ===== */
#top {
    background: #fff;
    margin: 0;
    padding: 30px 0 0;
}
#top .container {
    color: rgba(27, 27, 27, 0.8);
    margin: 0 auto;
    max-width: 1180px;
    box-sizing: border-box;
    padding: 30px 0;
    text-align: center;
}
#top .uk-grid {
    margin: 0;
}
#top .uk-grid > * {
    padding: 0 20px;
}
#top .counter-box {
	background: #fbfbfb;
	border: 1px solid #f9f9f9;
	border-radius: 2px;
	padding: 10px 0;
	width: 200px;
	height: 170px;
	text-align: center;
	transition: all .4s ease;
}
#top .counter-box:hover {
	margin: -10px 0 0;
	transition: all .4s ease;
}
#top h4 {
    color: #318fe8;
    font-size: 50px;
    font-weight: 300;
    margin: 10px 0;
}
#top p {
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
#top a {
	color: #318fe8;
	display: block;
	text-decoration: none;
	transition: all .4s ease;
}
#top a:hover {
	color: #555;
	transition: all .4s ease;
}



/* ===== 6. Main Top ===== */
#main-top {
	background: #fff;
    padding: 100px 0;
}
#main-top .container {
    margin:  0 auto;
    max-width: 1180px;
}
#main-top .widget-title {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 56px;
    position: relative;
    text-align: center;
}
#main-top .widget-title:after {
	background: #318fe8;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 80px;
}
#main-top .widget-description {
    font-size: 14px;
    margin: 0 0 60px;
}
#main-top p {
    font-size: 13px;
    font-weight: 400;
}
#main-top p a {
    font-size: 13px;
    text-decoration: none;
    transition: all .4s ease;
}
#main-top p a:hover {
	transition: all .4s ease;
}


/* ===== Main Top 2 ===== */
#main-top-2 {
    background: #f9f9f9;
}
#main-top-2 .container {
    margin:  0 auto;
    max-width: 1180px;
    padding: 120px 0;
}
#main-top-2 .widget-title {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 60px;
    position: relative;
    text-align: center;
}
#main-top-2 .widget-title:after {
	background: #318fe8;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 80px;
}
#main-top-2 p {
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 50px;
}
#main-top-2 .box-content {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    min-height: 230px;
    padding: 20px;
}
#main-top-2 .box-content h4 {
    color: #c76e3d;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 20px;
}
#main-top-2 .box-content p {
    font-size: 13.5px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}


/* ===== Main Top 3 ===== */
#main-top-3 {
	background: #fff;
    padding: 100px 0;
}
#main-top-3 .container {
    margin:  0 auto;
    max-width: 1180px;
}
#main-top-3 .widget-title {
    font-size: 30px;
    font-weight: 400;
    margin: 0 0 6px;
    position: relative;
    text-align: center;
}
#main-top-3 .widget-title:after {
	background: #318fe8;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 80px;
}
#main-top-3 p {
    font-size: 15px;
    font-weight: 300;
    margin: 50px;
}
#main-top-3 .box-content {
    background: #fdfdfd;
    border-radius: 2px;
    box-shadow: 0 2px 3px #f0f0f0;
    padding: 20px;
}
#main-top-3 .box-content h4 {
    font-size: 20px;
    font-weight: 300;
    margin: 0 0 20px;
}
#main-top-3 .box-content p {
    font-size: 13.5px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}
#main-top-3 .box-content a {
    color: #318fe8;
    display: block;
    font-size: 15px;
    margin: 30px 0 0;
    text-decoration: none;
    transition: all .4s ease;
}
#main-top-3 .box-content a:hover {
    color: #555;
    transition: all .4s ease;
}
#main-top-3 .box-content img {
    height: 150px;
    object-fit: contain;
    width: 100%;
    margin: 0 0 20px;
}

/* ===== 7. Main Bottom ===== */
#main-bottom {
    background: #f9f9f9;
}
#main-bottom .container {
    margin:  0 auto;
    max-width: 1180px;
    padding: 120px 0 0;
}
#main-bottom .widget-title {
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 60px;
    position: relative;
    text-align: center;
}
#main-bottom .widget-title:after {
	background: #318fe8;
	bottom: -5px;
	content: '';
	height: 1px;
	left: 0;
	margin: 0 auto;
	position: absolute;
	right: 0;
	width: 80px;
}
#main-bottom .widget-description {
    font-size:  14px;
    text-align:  center;
    margin: 0 0 40px;
}



/* ===== 8. Site Footer ===== */
.site-footer {
	background: #fff;
	border-top: 1px solid #f9f9f9;
	margin: -120px 0 0;
	padding: 50px 0 0;
}
.site-footer .uk-grid {
	max-width: 1180px;
	margin: 0 auto;
}
.site-footer .uk-grid > * {
	padding: 0;
}
.site-footer a {
	color: #484848;
	text-decoration: none;
	transition: all .4s ease;
}
.site-footer a:hover {
	color: #318fe8;
	transition: all .4s ease;
}
.site-info {
    background: #fff;
    color: rgba(24, 24, 24, 0.8);
    font-size: 13px;
    font-weight: 400;
    padding: 40px 0;
}
.site-info .container {
	border-top: 1px solid #f9f9f9;
    margin: 0 auto;
    max-width: 1180px;
    padding: 20px 0 0;
}
.site-info .uk-width-1-2:last-child {
	text-align: right;
}
.site-info a {
    color: #318fe8;
    text-decoration: none;
}
.site-footer .widget-title {
	font-size: 20px;
	font-weight: 300;
	margin: 0 0 20px;
	position: relative;
}
.site-footer .widget-title:after {
	background: #318fe8;
	bottom: -5px;
	left: 0;
	content: '';
	height: 1px;
	position: absolute;
	width: 60px;
}
.site-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
.site-footer ul li {
	font-size: 15px;
	font-weight: 300;
	margin: 0 0 8px;
}
.site-info img {
    height: 50px;
    margin: -15px 0 0;
}


/* ===== 9. Sidebar ===== */
.archive-left-sidebar .widget-title {
	font-size: 20px;
    font-weight: 300;
    margin: 10px 0 20px;
}


/* ===== 10. Error 404 - Page Not Found ===== */
.error-404 {
    background: #f9f9f9;
    padding: 180px 0;
    text-align:  center;
}
.error-404 .page-title {
    font-size: 40px;
    font-weight: 300;
    margin: 0;
}
.error-404 .search-form {
	margin: 50px 0 0;
}
.error-404 .search-form input[type="search"] {
	background: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 50px;
	font-size: 16px;
	font-weight: 300;
	height: auto;
	line-height: normal;
	outline: none;
	padding: 10px 25px;
	width: 25%;
}
.error-404 .search-form input[type="submit"] {
	background: #318fe8;
	border: 0;
	border-radius: 50px;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	height: auto;
	line-height: normal;
	margin: 0 10px;
	padding: 13px 25px;
	transition: all .4s ease;
}
.error-404 .search-form input[type="submit"]:hover {
	background: #374b61;
	cursor: pointer;
	transition: all .4s ease;
}


/* ===== 11. 3rd party plugins ===== */
.wpcf7-form .uk-grid {
    margin: 0;
}
.wpcf7-form .uk-width-1-2:first-child {
    padding: 0 35px 0 0;
}
.wpcf7-form label {
    font-size: 14px !important;
}
.wpcf7-form label span {
    display: block;
    margin: 10px 0 0;
}
.wpcf7-form label input,
.wpcf7-form label textarea {
    border-radius: 0;
    border: 0;
    border-bottom: 1px solid #e8e8e8;
    outline: none;
    transition: all .4s ease;
    width: 100%;
}
.wpcf7-form label input:focus,
.wpcf7-form label textarea:focus {
    border-bottom: 1px solid #318fe8;
    transition: all .4s ease;
}
.wpcf7-form input[type="submit"] {
    background: #318fe8;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 2px 3px #ddd;
    color: #fff;
    font-size: 15px;
    height: auto;
    margin: 30px 0 0;
    padding: 12px 25px;
    transition: all .4s ease;
}
.wpcf7-form input[type="submit"]:hover {
    background: #555;
    cursor: pointer;
    transition: all .4s ease;
}
.wpcf7-form h3 {
    color: #000;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 10px;
}
.wpcf7-form h4 {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px;
}
.wpcf7-form p {
    color: #686868;
    font-size: 15px;
    font-weight: 300;
    margin: 0 0 30px;
}


/* ===== 12. Registration Page ===== */
#signup-content {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 2px;
    box-shadow: 0 2px 3px #eee;
    margin: 80px auto 50px;
    max-width: 1180px;
    padding: 35px;
}
.mu_register {
    width: 100% !important;
}
#signup-content h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}
.mu_register label {
    margin: 30px 0 0 !important;
}
.mu_register .submit {
	margin-bottom: 0 !important;
	text-align: right;
}
.mu_register input[type="submit"] {
    width: auto !important;
    font-size: 16px !important;
    background: #318fe8;
    color: #fff;
    border: 0;
    border-radius: 2px;
    padding: 12px 30px;
    margin: 30px 0 0;
	transition: all .4s ease;
}
.mu_register input[type="submit"]:hover {
	background: #555;
	cursor: pointer;
	transition: all .4s ease;
}
.the_champ_outer_login_container {
    background: #fff;
    border: 1px solid #f0f0f0;
    box-shadow: 0 2px 3px #eee;
    margin: 0 auto 80px;
    max-width: 1180px;
    padding: 35px;
    overflow: auto;
}
.heateor_ss_sl_optin_container {
	margin: 0 0 15px !important;
}
.heateor_ss_sl_optin_container label {
	font-size: 13px !important
}
.heateor_ss_sl_optin_container a {
	margin: 0 0 0 6px !important;
}
.heateor_ss_social_login_optin {
	margin: 0 10px 0 0 !important;
}

.single-post article, 
.single-post #comments {
    margin: 0 150px;
}
.single-post .entry-content p {
    font-size: 14.5px;
    font-weight: 300;
    line-height: 24px;
}

.disclaimer {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    margin: 40px 0 0;
    padding: 0 80px;
    color: #999;
}


/* About page */
.about-boxes {
    max-width: 90%;
    margin: 60px auto;
}
.about-boxes .about-inner-box {
    text-align: center;
}
.about-boxes .about-inner-box h4 {
    color: #2678bd;
    font-size: 18px;
    font-weight: 400;
    position: relative;
}
.about-boxes .about-inner-box h4:after {
    background: #2681b3;
    bottom: -14px;
    content: '';
    height: 2px;
    margin: 0 auto;
    left: 0;
    position: absolute;
    right: 0;
    width: 40px;
}
.about-boxes .about-inner-box p {
    font-size: 14px;
    font-weight: 300;
    padding: 0 5px;
}
.page .about-partners-label {
    background: #f9f9f9;
    font-size: 25px;
    font-weight: 400;
    margin: 20px -25px 40px;
    padding: 40px 0;
    text-align: center;
}
.partner-link {
    border: 1px solid #e2e2e2;
    border-radius: 3px;
    display: inline-block;
    height: 110px;
    margin: 0 0.5% 1.5%;
    padding: 10px;
    text-align: center;
    transition: all .4s ease;
    width: 18.7%;
}
.partner-link:hover {
    border: 1px solid #2678bd;
    transition: all .4s ease;
}
.partner-link img {
    height: 90px;
    object-fit: contain;
    padding: 10px;
    width: 95% !important;
}


/* ===== 13. Responsive Design ===== */
@media (max-width: 767px) {
	.uk-grid > * {
		width: 100%;
	}
	.site-header #top-header {
		padding: 0;
	}
	.site-header .uk-grid {
		padding: 0 20px 20px;
	}
	.site-header .uk-grid > *:first-child {
		width: 80%;
	}
	.site-header .uk-grid > *:last-child {
		width: 20%;
	}
	.site-header .uk-width-3-10 {
		width: 100% !important;
	}
	.site-header .widget,
	.site-header .mobile-nav {
		display: inline-block;
	}
	.site-header .mobile-nav {
		padding: 0 15px 0 12px;
	}
	.site-header .widget span,
	.site-header .mobile-nav span {
		font-size: 20px;
		margin: 2px 0 0 0;
	}
	.sticky-header {
		margin: 0 !important;
	}
	.sticky-header .uk-grid > * {
		width: 33% !important;
	}
	.sticky-header .local-hubs-menu,
	.sticky-header .language-switcher-link {
		display: none;
	}
	.sticky-header .uk-width-7-10 {
		margin-left: -15px;
		margin-right: 10px;
	}
	.sticky-header .widget {
		font-size: 22px;
		padding: 12px 0 0;
	}
	.sticky-header .widget a {
		color: #555;
	}
	#showcase .container {
		background: rgba(247, 247, 247, 0.93);
		padding: 40px 20px 100px;
		margin: 0 0 -35px;
	}
	#showcase .widget-title {
		font-size: 24px;
	}
	#showcase p {
		font-size: 13.5px;
	}
	#showcase p br {
		display: none;
	}
	#showcase .search-form {
		margin: 0;
	}
	#showcase .search-form input[type="search"] {
		width: 65% !important;
	}
	#showcase svg {
		margin: 0 0 -13px !important;
	}
	#top {
		padding: 20px 15px 0;
	}
	#top .uk-grid > * {
		padding: 0 5px 10px;
		width: 50%;
	}
	#top .counter-box {
		height: auto;
		width: 100%;
	}
	#main-top {
		padding: 30px 0 60px;
	}
	#main-top-2 .uk-width-1-3,
	#main-top-3 .uk-width-1-3 {
		margin: 0 0 20px;
		width: 100%;
	}
	#main-top-2,
	#main-top-3 {
		padding: 20px;
	}
	#main-bottom {
		padding: 0 30px 0 40px;
	}
	.site-footer {
		padding: 30px 20px;
	}
	.site-footer .uk-grid > * {
		padding: 0 0 20px;
		width: 50%;
	}
	.site-info {
		padding: 0;
	}
	.site-info .uk-grid > * {
		text-align: center !important;
		width: 100%;
	}
	#footer-svg {
		margin: 0 0 -14px !important;
	}
	.uk-offcanvas-bar {
		background: #fff !important;
		padding: 30px 20px;
		text-align: left;
	}
	.uk-offcanvas-bar ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.uk-offcanvas-bar ul li {
		border-bottom: 1px solid #f0f0f0;
		font-size: 14.5px;
		margin: 0 0 12px;
		padding: 0 0 12px;
	}
	.uk-offcanvas-bar ul li:last-child {
		border-bottom: 0;
	}
	.uk-offcanvas-bar ul li a {
		text-decoration: none;
	}
	.uk-offcanvas-bar .user-menu li {
		border-bottom: 0;
		margin: 0 0 5px;
	}
	.uk-offcanvas-bar .user-logout {
		border-top: 1px solid #f0f0f0;
		margin: 30px 0 0;
		padding: 20px 0 0;
	}
	.site-header .uk-width-3-10 {
		text-align: center;
		width: 100%;
	}
	.site-header .uk-width-3-10 a {
		display: block;
		margin: 0 0 -15px;
	}
	.single-post article, 
	.single-post #comments {
   		 margin: 0 20px;
	}
	.single-post .single-container .uk-grid > * {
		padding: 0;
	}
	.disclaimer {
		padding: 0 20px;
	}
	.latest-offers-three-col-grid .uk-slidenav-previous {
		left: 0;
	}
	.latest-offers-three-col-grid .uk-slidenav-next {
		right: 0;
	}
	#advanced-search-form-home .uk-grid {
    		margin: 0;
	}
	#advanced-search-form-home .uk-width-1-2, 
	#advanced-search-form-home .uk-width-1-4 {
		padding: 0;
	    	width: 100%;
	}
	#advanced-search-form-home .ui-slider {
    		margin: -15px 0 0 10px !important;
	}
	#showcase p a {
    		display: block;
		margin: 10px 0 20px;
	}
	.phdhub-advanced-filters form input[type="submit"]{
    		border: 1px solid #2a3b4a;
    		border-top: 0;
    		display: block;
    		border-radius: 0 0 2px 2px;
    		width: 90%;
    		margin: 0 auto;
	}
	.phdhub-advanced-filters-home form input[type="submit"] {
    		border: 1px solid #eee;
    		border-top: 0;
    		display: block;
    		border-radius: 0 0 2px 2px;
    		width: 90%;
    		margin: 0 auto;
	}
	.phdhub-advanced-filters form input[type="text"],
	.phdhub-advanced-filters-home form input[type="text"] {
    		background: #ffffff;
    		border: 1px solid #eee;
    		border-bottom: 0;
    		box-shadow: none;
    		color: #323232;
    		border-radius: 2px 2px 0 0;
    		display: block;
    		width: 90%;
    		margin: 0 auto;
    		font-size: 13px;
    		padding: 15px;
	}
	.phdhub-advanced-filters form input[type="text"]::placeholder,
	.phdhub-advanced-filters-home form input[type="text"]::placeholder {
    		color: #555 !important;
	}
	.phdhub-advanced-filters .advanced-link,
	.phdhub-advanced-filters-home .advanced-link {
    		max-width: 100%;
    		margin: 20px 0 0 !important;
	    	text-align: center;
	}
        article.page .entry-content, .search-results .page-content {
                width: 100%;
        }
}
@media (min-width: 768px) and (max-width: 1232px) {
        .latest-offers-three-col-grid .uk-slidenav-previous {
                left: 0;
        }
        .latest-offers-three-col-grid .uk-slidenav-next {
                right: 0;
        }
	#top .counter-box {
    		width: 100% !important;
	}
	article.page .entry-content, .search-results .page-content {
		width: 100%;
	}
}
